<div  fxLayout="row" fxLayoutAlign="center center">
  <form [formGroup]="signUpForm" style="border:1px solid #ccc">
      <div class="container">
        <h1>Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
  
        <label for="firstName"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" formControlName="userName" required>

        <label for="accountName"><b>Account Name</b></label>
        <input type="text" placeholder="Enter Account Name" formControlName="accountName" required>
      
  
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" formControlName="email" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" formControlName="password" required>
    
        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" formControlName="password2" required>

  
        <div class="clearfix">
          <button (click)="saveNewUser()" class="signupbtn" type="submit">
            Save
          </button>
        </div>
      </div>
      
      <a [routerLink]="['/log-in']" routerLinkActive="router-link-active" >Already have an account? Log In Here</a>
    </form>
</div>
  